.padding-bottom-20px {
    padding-bottom: 20px;
}

.field-required:after {
    content: ' *';
    color: red;
}
.attendance{
    margin-top:10px;

}

@media print {
    .page-content {
        margin-left: 0;
    }
    .reportForPrint {
        overflow: visible !important;
    }
    .widget-header, .filter-area, .page-breadcrumbs, .searchicon.fa.fa-search {
        display: none;
    }
    .id-card {
        font-size: 7pt;
    }
    .id-card p {
        margin-bottom: 0px;
    }
    .table >tbody >tr td, .table >tbody >tr th {
        padding:3px !important;
        font-size: 7pt;
    }
    .table >thead >tr th {
        padding: 3px !important;
        font-size: 8pt !important;
    }
    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
        border-color: #191919 !important;
        border-width: 1px !important;
    }

    #salaryReport >tbody >tr td {
        height: 127px !important;
    }
}
.print {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    border: solid 1px #056fc4;
    color: #fff;
    background: url(/images/button.png) repeat-x 0 0;
}

.id-card {
    min-width: 7.5in;
}

.page-break {
    page-break-after:always !important;
    display: block;
}